<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into Light&amp;display=swap"
        media="all" id="shr-font-shadows-into light">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css">
    <script src="https://connect.facebook.net/en_US/sdk.js?hash=9fd289b669a723c54e0d115f45a6f418&amp;ua=modern_es6"
        async="" crossorigin="anonymous"></script>
    <script async="" defer="" crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v5.0"></script>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui">
    <meta property="og:image" itemprop="image" content="{{companyDetailsValue.logo}}" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="{{companyDetailsValue.firstName}} {{companyDetailsValue.lastName}} {{companyDetailsValue.position}}" />
    <title>{{companyDetailsValue.companyName}}</title>
    <link rel="manifest" id="manifest-placeholder">
    <link rel="stylesheet" href="/template4/css.css">
</head>

<body>
    {{!-- Home --}}
    <div class="page-wrapper" id="home-section">
        <div class="corner"></div>
        <div class="views-label"><i class="fas fa-eye"></i> Views: <b>735</b></div>
        <div class="upper">
            <!-- User Profile Pic -->
            <img src="{{companyDetailsValue.logo}}" class="profile-pic-img">
            <!-- User Company Name -->
            <div class="firmname">{{companyDetailsValue.companyName}}</div>
            <div style="width: 40%;background-color: #00960d;height:2px;margin-bottom: 10px;"></div>
            <!-- User First Name and Last Name -->
            <div class="name">Mr. {{companyDetailsValue.firstName}} {{companyDetailsValue.lastName}} </div>

            <div class="contact-buttons">
                <a class="contact-button" href="tel:{{companyDetailsValue.phone}}">
                    <i class="fas fa-phone fa-flip-horizontal"></i>
                    <!-- Call -->
                </a>
                <a class="contact-button" target="_blank"
                    href="https://wa.me/91{{companyDetailsValue.whatsApp}}?text=Got reference from your Digital vCard. Want to know more about your products and services.">
                    <i class="fab fa-whatsapp"></i>
                    <!-- Whatsapp -->
                </a>
                <a class="contact-button" target="_blank" href="{{companyDetailsValue.location}}">
                    <i class="fas fa-map-marker-alt fa-flip-horizontal"></i>
                    <!-- Direction -->
                </a>
                <a class="contact-button" target="_blank" href="mailto:{{companyDetailsValue.email}}">
                    <i class="fas fa-envelope fa-flip-horizontal"></i>
                    <!-- Mail -->
                </a>
            </div>
        </div>
        <div class="lower">
            <table class="contact-action-table">
                <tbody>
                    {{#if companyDetailsValue.phone}}
                    <tr>
                        <td>
                            <div class="trapezoid">
                                <a target="_blank" href="tel:{{companyDetailsValue.phone}}"
                                    class="contact-action-container-icon">
                                    <i class="fas fa-phone fa-flip-horizontal"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a target="_blank" href="tel:{{companyDetailsValue.phone}}"
                                class="contact-action-container-text">
                                +91{{companyDetailsValue.phone}}
                            </a>

                        </td>
                    </tr>
                    {{/if}}
                    {{#if companyDetailsValue.address}}
                    <tr>
                        <td>
                            <div class="trapezoid">
                                <a target="_blank" href="{{companyDetailsValue.location}}"
                                    class="contact-action-container-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a target="_blank" class="contact-action-container-text address-text">
                                Address: {{companyDetailsValue.address}}
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                    {{#if companyDetailsValue.email}}
                    <tr>
                        <td>
                            <div class="trapezoid">
                                <a target="_blank"
                                    href="mailto:{{companyDetailsValue.email}}"
                                    class="contact-action-container-icon">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </td>
                        <td>

                            <a href="mailto:{{companyDetailsValue.email}}"
                                class="contact-action-container-text">
                                {{companyDetailsValue.email}}
                            </a><br />

                        </td>
                    </tr>
                    {{/if}}
                    {{#if companyDetailsValue.website}}
                    <tr>
                        <td>
                            <div class="trapezoid">
                                <a target="_blank" href="{{companyDetailsValue.website}}"
                                    class="contact-action-container-icon">
                                    <i class="fas fa-globe"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a target="_blank" href="{{companyDetailsValue.website}}"
                                class="contact-action-container-text">
                                {{companyDetailsValue.website}}
                            </a>
                        </td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
            <div style="padding: 15px;">
                <div class="p-30"></div>
                <div class="whatsapp-input">
                    <div class="input-wrapper">
                        <input type="tel" id="whatsapp-input" class="input" placeholder="Enter whatsapp number"
                            oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    </div>
                    <a class="whatsapp-button" target="_blank" href="javascript:;" onclick="handleWhatsappShare(this)">
                        <i class="fab fa-whatsapp"></i>Share on Whatsapp
                    </a>
                </div>
                <div class="p-20"></div>
                <div class="shadow-buttons">
                    {{!-- <a class="shadow-button" href="https://vcard-bucket.s3.us-east-2.amazonaws.com/A001/3034/3034.vcf"
                        download=""><i class="fas fa-download shadow-button-icon"></i>Add to Phone Book</a> --}}
                    <a class="shadow-button" onclick="openShareModal(this, `{{companyDetailsValue.companyName}}`)"><i
                            class="fas fa-share-alt shadow-button-icon"></i>Share</a>
                </div>
                <div><a class="shadow-button save-card-button"><i
                            class="fas fa-cloud-download-alt shadow-button-icon"></i>Save Card</a></div>
                <div class="p-30"></div>
                <ul class="inprofile share-buttons">
                        <li class="share-button">
                                <a target="_blank" href="{{socialDetailsValue.facebook}}"><i class="share-button-facebook fab fa-facebook-f"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" href="{{socialDetailsValue.twitter}}"><i class="share-button-twitter fab fa-twitter"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" href="{{socialDetailsValue.instagram}}"><i class="share-button-instagram fab fa-instagram"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" href="{{socialDetailsValue.youtube}}"><i class="share-button-youtube fab fa-youtube"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank"
                                href="{{socialDetailsValue.pinterest}}" ><i class="share-button-pinterest fab fa-pinterest-p"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank" href="{{socialDetailsValue.linkdin}}"><i class="share-button-linkedin fab fa-linkedin-in"></i></a>
                            </li>
                        <li class="share-button">
                                <a target="_blank"
                                href="{{socialDetailsValue.telegram}}" ><i class="share-button-telegram fab fa-telegram-plane"></i></a>
                            </li>
                </ul>
            </div>
        </div>
        <div class="corner-bottom"></div>
    </div>

    {{!-- About us --}}
    <div class="section-container" id="about-us-section">
        <div class="corner"></div>
        <h2 class="section-header">About Us</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
        <table class="about-us-table">
            <tbody>
                {{#if companyDetailsValue.companyName}}
                <tr>
                    <td class="table-row-label">
                        <h3 class="table-row-label-text">Company Name</h3><b class="table-row-label-separator">:</b>
                    <td>
                    <td class="table-row-value">
                        {{companyDetailsValue.companyName}}
                    <td>
                </tr>
                {{/if}}

                {{!-- Todo: give category dropdown --}}
                {{#if companyDetailsValue.category}}
                <tr>
                    <td class="table-row-label">
                        <h3 class="table-row-label-text">Category</h3><b class="table-row-label-separator">:</b>
                    <td>
                    <td class="table-row-value">
                        {{companyDetailsValue.category}}
                    <td>
                </tr>
                {{/if}}

                {{#if companyDetailsValue.establish}}
                <tr>
                    <td class="table-row-label">
                        <h3 class="table-row-label-text">Year of Est.</h3><b class="table-row-label-separator">:</b>
                    <td>
                    <td class="table-row-value">
                        {{companyDetailsValue.establish}}
                    <td>
                </tr>
                {{/if}}

                {{#if companyDetailsValue.nature}}
                <tr>
                    <td class="table-row-label">
                        <h3 class="table-row-label-text">Nature Of Business</h3><b
                            class="table-row-label-separator">:</b>
                    <td>
                    <td class="table-row-value">
                        {{companyDetailsValue.nature}}
                    <td>
                </tr>
                {{/if}}

            </tbody>
        </table>
        {{#if companyDetailsValue.specialities}}
                <h3 class="speciality-label">Our Specialities</h3>
                <ul class="unorderedList">
                    {{#each companyDetailsValue.specialities}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                {{/if}}

                {{#if companyDetailsValue.about}}
                <div class="about-us-text">
                    {{companyDetailsValue.about}}
                </div>
                {{/if}}

                {{#if socialDetailsValue.interest}}
                <div class="other-links-wrapper">
                    <h3 class="other-links-header">Other Links:</h3>
                    <a class="other-links-link" href="{{socialDetailsValue.interest}}" target="_blank"><i
                            class="fa fa-link"></i> {{socialDetailsValue.interest}}</a>
                </div>
                {{/if}}


        <div class="corner-bottom"></div>
    </div>

    {{!-- products --}}
    {{#if ecommerceDetailsValue}}
    <div class="section-container" id="products-services-section">
        <div class="corner"></div>
        <h2 class="section-header">Products/Services</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
        <div>
                        {{#each ecommerceDetailsValue}}
                        <div class="card">
                            <h3 class="card-title">{{productName}}</h3>
                            <div class="product-description">{{description}}</div>
                            <img onclick="openImageModal(this)" alt="{{productName}}"
                                src="{{image}}"
                                style="width:100%;margin-bottom: 15px;">
                            <div class="product-enquiry-section">
                                <div class="product-price">
                                {{#if mrp}}
                                <strike style="color:red;">Mrp: {{mrp}}</strike> &nbsp;&nbsp;
                                {{/if}}
                                {{#if sellingPrice}}
                                <span>SP: {{sellingPrice}}</span>
                                {{/if}}
                                </div>
                                <a href="https://wa.me/{{companyDetailsValue.whatsApp}}?text=Hi, I am interested in your product/service"
                                    target="blank" class="product-enquiry-btn">Enquiry</a>
                            </div>
                        </div>
                        {{/each}}
        </div>
        <div class="corner-bottom"></div>
    </div>
    {{/if}}

    {{!-- Payments --}}
    {{#if paymentDetailsValue}}
    <div class="section-container" id="payment-options-section">
        <div class="corner"></div>
        <h2 class="section-header">Payment</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
       <div>
                    {{#if paymentDetailsValue}}
                    <table class="about-us-table">
                        <tbody>
                            {{#if paymentDetailsValue.qrcode}}
                            <tr>
                                <img src="{{paymentDetailsValue.qrcode}}" class="profile-pic-img"
                                    style="display: block; margin-left: auto; margin-right: auto;">
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.paytmNumber}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Paytm No.</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.paytmNumber}}
                                <td>
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.gpayNumber}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Gpay No.</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.gpayNumber}}
                                <td>
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.phonePay}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">PhonePay No.</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.phonePay}}
                                <td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                    {{/if}}

                    {{#if paymentDetailsValue.accountNo}}
                    <h2 class="section-header"></h2>
                    <div style="width: 20%;background-color: #00960d;height:2px;margin: 30px auto;"></div>
                    <h3>Account Details:</h3>
                    <table class="about-us-table">
                        <tbody>
                            {{#if paymentDetailsValue.bankName}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Bank Name</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.bankName}}
                                <td>
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.ifsc}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">IFSC code</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.ifsc}}
                                <td>
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.holderName}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Account Holder Name</h3><b
                                        class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.holderName}}
                                <td>
                            </tr>
                            {{/if}}
                            {{#if paymentDetailsValue.accountNo}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Account Number</h3><b
                                        class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.accountNo}}
                                <td>
                            </tr>
                            {{/if}}
                            {{!-- Todo: not takking type --}}
                            {{#if paymentDetailsValue.type}}
                            <tr>
                                <td class="table-row-label">
                                    <h3 class="table-row-label-text">Account Type</h3><b class="table-row-label-separator">:</b>
                                <td>
                                <td class="table-row-value">
                                    {{paymentDetailsValue.type}}
                                <td>
                            </tr>
                            {{/if}}
                        </tbody>
                    </table>
                    <br><br>
                    {{/if}}

                </div>
        <div class="corner-bottom"></div>
    </div>
    {{/if}}

    {{!-- Gallery --}}
    {{#if imagesDetailsValue}}
    <div class="section-container" id="gallery-section">
        <div class="corner"></div>
        <h2 class="section-header">Gallery</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
        <div class="images-container">
                    {{#each imagesDetailsValue.images}}
                    <div class="image-wrapper">
                    <img onclick="openImageModal(this)" alt="" src="{{this}}" style="width:100%">
                    </div>
                    {{/each}}
                    </div>
        <div class="corner-bottom"></div>
    </div>
    {{/if}}

     {{!-- Video section --}}
    {{#if socialDetailsValue.youtubeVideo}}
    <div class="section-container" id="video-section">
        <div class="corner"></div>
    <h2 class="section-header">Videos</h2>
    <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>          
        <div class="section-content-wrapper">
            <div>
                {{#each socialDetailsValue.youtubeVideo}}
                <div class="card" style="padding: 10px">
                    <iframe src="{{this}}" frameborder="0" allowfullscreen style="width: 100%"></iframe>
                </div>
                {{/each}}
            </div>
        </div>
    <div class="corner-bottom"></div>
    </div>
    {{/if}}

    {{!-- Feedback --}}
    <div class="section-container" id="feedback-section">
        <div class="corner"></div>
        <h2 class="section-header">FeedBack</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>   
            <div class="section-content-wrapper">
                <div class="feedback-list" id="feedback-list"></div>
                <div class="feedback-button-wrapper">
                    <input type="button" value="Load more feedbacks" id="load-more-feedback-btn"/>
                </div>
                <form class="feedback-form card" novalidate>
                    <div class="feedback-form-heading">Give Feedback</div>
                    <select class="star-rating" id="rating" name="rating">
                        <option value="">Select a rating</option>
                        <option value="5">Excellent</option>
                        <option value="4">Very Good</option>
                        <option value="3">Average</option>
                        <option value="2">Poor</option>
                        <option value="1">Terrible</option>
                    </select>
                    <input type="text" name="feedbackName" id="feedbackName" placeholder="Enter Full Name"/>
                    <textarea name="feedback" id="feedback" placeholder="Enter your feedback"></textarea>
                    <!-- Message:<br/> -->
                    <input type="button" value="Give Feedback" onclick="sendFeedback(this, 'sd-photography')"/>
                </form>
            </div>
        <div class="corner-bottom"></div>

    </div>

    {{!-- Enquiry --}}
    <div class="section-container" id="enquiry-section">
        <div class="corner"></div>
        <h2 class="section-header">Enquiry Form</h2>
        <div style="width: 20%;background-color: #00960d;height:2px;margin: 0 auto;margin-bottom: 20px;"></div>
        <form class="enquiry-form" novalidate>
            <!-- Full Name:<br/> -->
            <input type="text" name="enquiryName" id="enquiryName" placeholder="Enter Full Name" /><br />
            <div class="flex">
                <div class="enquiry-phoneNumber">
                    <!-- Phone Number:<br/> -->
                    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Enter Phone Number" /><br />
                </div>
                <div class="enquiry-email">
                    <!-- Email:<br/> -->
                    <input type="text" name="email" id="email" placeholder="Enter Email" /><br />
                </div>
            </div>
            <!-- Message:<br/> -->
            <textarea name="message" id="message" placeholder="Enter Message"></textarea><br />
            <input type="button" value="Send"
                onclick="sendEnquiry(this, 'amardeepindia@rediffmail.com, amardeepdipesh@rediffmail.com')" />
        </form>
        <div class="corner-bottom"></div>
    </div>

    {{!-- Copyright --}}
    <div class="copyright-wrapper">
    <div class="copyright-wrapper-inner">
        © 2021 <a href="http://localtodigital.in" target="_blank"><b>localtodigital.in</b></a>
    </div>
    </div>

    <!-- Footer Menu -->
    <div class="footer">
            <ul class="footer-menu">
                <li>
                    <a class="footer-menu-link" href="#home-section">
                        <i class="footer-menu-icon fas fa-home"></i>
                        <div class="footer-menu-text">HOME</div>
                    </a>
                </li>
                <li>
                        <a class="footer-menu-link" href="#about-us-section">
                            <i class="footer-menu-icon fas fa-briefcase"></i>
                        <div class="footer-menu-text">ABOUT US</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#products-services-section">
                            <i class="footer-menu-icon fas fa-box-open"></i>
                        <div class="footer-menu-text">PRODUCTS</div>
                        </a>
                    </li>
                
                <li>
                        <a class="footer-menu-link" href="#gallery-section">
                            <i class="footer-menu-icon fas fa-file-image"></i>
                            <div class="footer-menu-text">GALLERY</div>
                        </a>
                    </li>
                
                <li>
                        <a class="footer-menu-link" href="#feedback-section">
                            <i class="footer-menu-icon fas fa-star"></i>
                            <div class="footer-menu-text">FEEDBACK</div>
                        </a>
                    </li>
                <li>
                        <a class="footer-menu-link" href="#enquiry-section">
                            <i class="footer-menu-icon fas fa-comment-alt"></i>
                            <div class="footer-menu-text">ENQUIRY</div>
                        </a>
                    </li>
            </ul>
        </div>

    <!-- The image Modal -->
    <div id="imageModal" class="modal">
        <span class="close" id="imageModalClose">&times;</span>
        <img class="modal-content fadeIn" id="img01">
        <div id="caption"></div>
    </div>

    <!-- The share Modal -->
    <div id="shareModal" class="modal share-modal">
        <div class="share-form fadeInUpBig">
            <div class="share-form-header">
                <h3 class="share-form-header-text">Share Profile</h3>
                <span class="close" id="shareModalClose">&times;</span>
            </div>
            <div class="share-form-buttons-container">
                <p>Share my Digital vCard in your network.</p>
                <div class="share-buttons-heading">
                    <img src="../templates/template5/tild-arrow.svg" class="share-buttons-arrow">
                    <div class="share-buttons-heading-text">Share my Digital vCard</div>
                </div>
                <ul class="share-buttons">
                    <li class="share-button">
                        <a href="javascript:;" target="_blank"
                            onclick="handleDirectWhatsappShare(this, {{companyDetailsValue.whatsApp}})">
                            <i class="share-button-whatsapp fab fa-whatsapp"></i>
                        </a>
                    </li>
                    <li class="share-button">
                        <a target="_blank" href="sms:?body=http://localtodigital.in/card/{{companyDetailsValue.companyUrl}}">
                            <i class="share-button-sms fas fa-comment-dots"></i>
                        </a>
                    </li>
                    <li class="share-button">
                        <a target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=http://localtodigital.in/{{socialDetailsValue.facebook}}&src=sdkpreparse"
                            class="fb-xfbml-parse-ignore">
                            <i class="share-button-facebook fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="share-button">
                        <a target="_blank"
                            href="https://twitter.com/intent/tweet?text=http://localtodigital.in/{{socialDetailsValue.twitter}}"
                            data-size="large">
                            <i class="share-button-twitter fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="share-button">
                        <a target="_blank"
                            href="mailto:?subject=Digital Card&amp;body=Check out this digital card http://localtodigital.in/{{companyDetailsValue.companyUrl}}.">
                            <i class="share-button-mail fas fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js"></script>
    <script src="../commonjs.js"></script>
</body>

</html>